.content {
padding-top:50px;
}

.search-wrap {
  margin-bottom: 5px;
  width: 330px;
}

.country-details {
  padding: 10px;
  border: 1px solid #808080;
  background-color: #807F95;
  color: white;
  font-size: 15px;
}